<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="main">
    <form action="/post" method="post">
        <input type="text" name="username" placeholder="Enter username"> <br> <br>
        <textarea name="content" id=""  placeholder="Write your post"></textarea> <br> <br>
        <button>Submit</button>
    </form>
</div>
</body>
</html>